nav {
    background-color: darksalmon;
}

.content-body {
    margin-top: 20px;
}

.filter {
    width: 100%;
    height: 50px;
    background-color: gainsboro;
    border-radius: 0.2em;
    margin: 15px 0;
}