<div class="container">
    <div class="filter">
    
    </div>

    <div class="content-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Kind</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Melodic</td>
                    <td>Kena</td>
                    <td>Pacific Jam</td>
                    <td>Mixing</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>